<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="stack" converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter"/>
    <springProperty scope="context" name="service_env" source="spring.profiles.active"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="prod" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" >
            <providers>
                <pattern>
                    <pattern>
                        {
                        "@timestamp":"%date",
                        "content":"%message%n%stack{100,16,2048,rootFirst}",
                        "caller": "%caller{1}",
                        "level":"%level{toLowerCase}",
                        "trace": "%mdc{trace_id}",
                        "span": "%mdc{span_id}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <appender name="dev" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 设置根Logger -->
    <root level="info">
        <appender-ref ref="${service_env}"/>
    </root>
</configuration>